<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="sql1" providerName ="System.Data.SqlClient" connectionString="Server=sql1;Integrated Security=true;TrustServerCertificate=true;MultipleActiveResultSets=true;"/>
        <add name="sql2" providerName ="System.Data.SqlClient" connectionString="Server=sql2;Integrated Security=true;TrustServerCertificate=true;MultipleActiveResultSets=true;"/>
    </connectionStrings>
</configuration>